* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: burlywood;
    height: 4vh;
    padding: 10px;
}

.container a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 5rem; */
}

.logo {
    font-family: cursive;
    font-size: 20px;
    margin-left: 20px;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: burlywood;
    position: absolute;
    top: 100vh;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.imagecontent img {
    width: 70vw;
    height: 60vh;
}

.content p {
    text-align: justify;
    margin: 2rem 10rem;
    overflow: scroll;
    scroll-behavior: smooth;
}

.topnav {
    display: none;
}

@media screen and (max-width: 871px) {
    .content p {
        height: 20vh;
        text-align: justify;
        margin: 2rem 10rem;
        overflow: scroll;
        scroll-behavior: smooth;
    }
}

@media screen and (max-width: 747px) {
    .content p {
        height: 15vh;
        text-align: justify;
        margin: 1rem 5rem;
        overflow: scroll;
        scroll-behavior: smooth;
    }

    .footer {
        width: 100%;
        height: 10vh;
        background-color: burlywood;
        position: absolute;
        top: 100vh;

    }
}

@media screen and (max-width: 650px) {
    .content p {
        height: 15vh;
        text-align: justify;
        margin: 1rem 5rem;
        overflow: scroll;
        scroll-behavior: smooth;
    }

    .topnav {
        display: none;
    }

    .footer {
        width: 100%;
        height: 10vh;
        background-color: burlywood;
        position: absolute;
        top: 100vh;

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items {
        display: none;
    }

    .topnav {
        display: block;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: burlywood;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        color: black;
    }

    .active {
        background-color: burlywood;
        color: black;
    }

    .container {
        display: none;
    }

    .logo {
        color: black;
    }
}

@media screen and (max-width: 480px) {

    .image-content {
        display: flex;
    }

    .image-content img {
        width: 90vw;
    }


    .content p {
        width: 70vw;
        height: 40vh;
        margin: 1rem 3.8rem;
    }

    .menu img {
        width: 90vw;
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-heading {
    text-align: center;
    margin-top: 1rem;
    font-family: cursive;
}

.menu img {
    height: 90vh;

}

.aboutus-content h1 {
    text-align: center;
    padding: 2rem 0;
}

.aboutus-content p {
    text-align: justify;
    padding: 1rem 5rem;
}

.contact-content h1 {
    text-align: center;
    padding: 2rem 0;
}

.contact-content p {
    text-align: justify;
    padding: 1rem 5rem;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.social a {
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
}